<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">

    <target xsi:type="trace" name="Trace" layout="${longdate} ${level} ${windows-identity} ${message} | ${exception:format=ToString}"/>

    <target name="file" xsi:type="File"
            layout="${longdate} ${level} ${windows-identity} ${message} | ${exception:format=ToString}"
            fileName="${basedir}/logs/${shortdate}.log"
            keepFileOpen="false"
            encoding="iso-8859-2" />

  </targets>
</nlog>
