@model string
@{
    Layout = "~/Views/Shared/_Layout-Legion.cshtml";
    ViewBag.Title = "Ignite - User Registration";
}
<a href="#" data-uri="trismart-ignite-dev://propertyID=9b26012f-edcd-40bc-9e88-28a00030d345&noteID=7c5c63d4-7805-493b-81c0-7fe11400d73b" onclick="clickHandler(this.dataset.uri)">Clickdev</a>
<a href="#" data-uri="trismart-ignitestage://propertyID=9b26012f-edcd-40bc-9e88-28a00030d345&noteID=7c5c63d4-7805-493b-81c0-7fe11400d73b" onclick="clickHandler(this.dataset.uri)">Clickstage</a>
<a href="#" data-uri="trismart-IgniteStage://propertyID=9b26012f-edcd-40bc-9e88-28a00030d345&noteID=7c5c63d4-7805-493b-81c0-7fe11400d73b" onclick="clickHandler(this.dataset.uri)">Clickstag2</a>
<a href="#" data-uri="trismart-ignite-stage://propertyID=9b26012f-edcd-40bc-9e88-28a00030d345&noteID=7c5c63d4-7805-493b-81c0-7fe11400d73b" onclick="clickHandler(this.dataset.uri)">Clickstag3</a>
<a href="#" data-uri="trismart-ignite://propertyID=9b26012f-edcd-40bc-9e88-28a00030d345&noteID=7c5c63d4-7805-493b-81c0-7fe11400d73b" onclick="clickd(this.dataset.uri)">ClickSpecial</a>

@*<a data-uri="" style="color:black" onclick="clickHandler('trismart-ignite-dev://propertyID=9b26012f-edcd-40bc-9e88-28a00030d345&noteID=7c5c63d4-7805-493b-81c0-7fe11400d73b')">Clickdev</a>
<a data-uri="" style="color:black" onclick="clickHandler('trismart-ignitestage://propertyID=9b26012f-edcd-40bc-9e88-28a00030d345&noteID=7c5c63d4-7805-493b-81c0-7fe11400d73b')">Clickstage</a>
<a data-uri="" style="color:black" onclick="clickHandler('trismart-IgniteStage://propertyID=9b26012f-edcd-40bc-9e88-28a00030d345&noteID=7c5c63d4-7805-493b-81c0-7fe11400d73b')">Clickstag2</a>
<a data-uri="" style="color:black" onclick="clickHandler('trismart-ignite-stage://propertyID=9b26012f-edcd-40bc-9e88-28a00030d345&noteID=7c5c63d4-7805-493b-81c0-7fe11400d73b')">Clickstag3</a>*@
   @section scripts
{

    <script type="text/javascript">
        @*try {
            document.addEventListener('DOMContentLoaded', function () {
                try {
                    if (validations.isiPad || validations.isiPhone) {
                        var strlink = '@Html.Raw(Model)';
                        if (strlink.indexOf('note') != -1) {
                            console.log(strlink);
                            deeplink.open(strlink);
                        }
                        else {
                            location.href = strlink;
                        }
                    } else {
                        var queryString = window.location.href.slice(window.location.href.indexOf('?') + 1);
                    }
                } catch (e) { console.log(e)}
            });
        } catch (e) { }*@


        function clickHandler(uri) {
            console.log(uri);
            deeplink.open(uri);
            return false;
        }

        deeplink.setup({
            iOS: {
                appId: "1406816571",
                appName: "ignite-by-smartboard",
            },
            android: {
                appId: "com.facebook.katana"
            }
        });

        function clickd(uri) {
            console.log(uri);
            deeplink.open(uri);
            return false;
        }

    </script>
}