<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="OrderServiceBeta">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="OrderService">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://beta.redbellre.com/orders/orderservice.svc"
        binding="basicHttpBinding" bindingConfiguration="OrderServiceBeta"
        contract="RedBellBeta.IOrderService" name="OrderServiceBeta" />
      <endpoint address="http://orders.redbellre.com/orders/orderservice.svc"
        binding="basicHttpBinding" bindingConfiguration="OrderService"
        contract="RedBell.IOrderService" name="OrderService" />
    </client>-->
  </system.serviceModel>
</configuration>