@model DataReef.TM.Classes.ResetPasswordTemplate
@{
    Layout = "_Layout.cshml";
}
<div class="content center">
    <div class="row">
        Need to reset your password?
        <br />
        <br/>
        On your iOS device tap the reset password button below and you'll be on your way.
    </div>
    <div class="row">
        <div class="button-wrapper center">
            <a class="button" href="@Raw(Model.ResetURL)">Reset password</a>
        </div>
    </div>
</div>