@model DataReef.TM.Classes.TerritoryAssignmentNotificationTemplate
@{
    Layout = "_Layout.cshml";
}

<div class="content salesOrderConfirmation">
    <div class="row">
        You have been assigned to the @Model.TerritoryName territory. 
        @if(Model.PropertyCount > 0)
        {
            <div>This territory has @Model.PropertyCount homes available to contact.This territory is ready to prescreen.</div>
        }
        
    </div>

    @if ((Model.SampleHomeNames != null) && (Model.SampleHomeNames.Length > 0))
    {
        <div class="row">
            Included are a few of the homes:
            @foreach (string homeName in Model.SampleHomeNames)
            {
                <div class="subrow">
                    @homeName
                </div>
            }
        </div>
    }

    <div class="row">
        <span>You can access your new territory in IGNITE for iPad </span>
        @if(!string.IsNullOrWhiteSpace(Model.TerritoryLink)) { <a href="@Model.TerritoryLink">by clicking on the following link</a> }
        <span>.</span>
</div>
</div>
