<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
        -->
    <customErrors defaultRedirect="GenericError.htm"  mode="Off" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>

  </system.web>  
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.TM.API.BaseAddress" value="http://api-staging.ignite.trismartsolar.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.LegionAPI.Url" value="http://api-staging.ignite.trismartsolar.com"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.Geo.Url" value="http://geo.ignite.trismartsolar.com/"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Proposal.Template.DefaultBaseUrl" value="http://proposals-staging.ignite.trismartsolar.com/"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ConnectionStringName" value="Stage"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="StorageAccount.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=livesmartcarestorage;AccountKey=WJAeUmL9DhwgKw/X/ILlUTTbuRXcmP+nJtA8zm3TT5yTXA9NXqA0kE5JxzWwZ7iGi5wV+hqRU9wA+NU3eVOAbA==" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BlobStorage" value="DefaultEndpointsProtocol=https;AccountName=livesmartcarestorage;AccountKey=WJAeUmL9DhwgKw/X/ILlUTTbuRXcmP+nJtA8zm3TT5yTXA9NXqA0kE5JxzWwZ7iGi5wV+hqRU9wA+NU3eVOAbA==" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="LegionDownloadURL" value="" />

    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_S3_BucketName" value="trismart-ignite-staging-blobs" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_DynamoDB_TableName" value="Ignite_Staging_ProposalsData_Aggregate" />

    <!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_S3_BucketName" value="legion-stage-blobs" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_DynamoDB_TableName" value="Legion_Stage_ProposalsData_Aggregate" />-->
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="MailChimp.Lists.LegionUsers" value=""/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.Environment" value="Stage"/>
  </appSettings>
  <system.net>
    <defaultProxy xdt:Transform="Remove"/>
  </system.net>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <rules>
      <logger name="SmartLogger" minlevel="Trace" writeTo="trace" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </rules>
  </nlog>
</configuration>