<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="file" />
		<appender-ref ref="AWS" />
	</root>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/IgniteApi.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="100MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="AWS" type="AWS.Logger.Log4net.AWSAppender,AWS.Logger.Log4net">
		<LogGroup>Ignite_Logs</LogGroup>
		<Region>us-west-2</Region>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		<LibraryLogFileName>c:\logs\Ignite_Logs.txt</LibraryLogFileName>
	</appender>
</log4net>