<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.TM.Contracts.Services.BaseAddress" value="http://core-staging.ignite.trismartsolar.com/"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.LegionAPI.Url" value="http://api-staging.ignite.trismartsolar.com" />    
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.Environment" value="Stage"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.TM.CustomURL" value="trismart-ignite-stage://"/>

    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="NetSuiteUrl" value="https://sunedison-qa.cloudhub.io"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="MosaicUrl" value="https://olympus-qa.cloudhub.io"/>
    <add key="LoggingConnectionStringName" value="Stage"
         xdt:Locator="Match(key)" xdt:Transform="Replace"/>
  
    <!--Settings related to services-->
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.TM.API.BaseAddress" value="http://api-staging.ignite.trismartsolar.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.LegionAPI.Url" value="http://api-staging.ignite.trismartsolar.com"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.Geo.Url" value="http://geo.ignite.trismartsolar.com/"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Proposal.Template.DefaultBaseUrl" value="http://proposals-staging.ignite.trismartsolar.com/"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ConnectionStringName" value="Stage"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="StorageAccount.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=livesmartcarestorage;AccountKey=WJAeUmL9DhwgKw/X/ILlUTTbuRXcmP+nJtA8zm3TT5yTXA9NXqA0kE5JxzWwZ7iGi5wV+hqRU9wA+NU3eVOAbA==" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BlobStorage" value="DefaultEndpointsProtocol=https;AccountName=livesmartcarestorage;AccountKey=WJAeUmL9DhwgKw/X/ILlUTTbuRXcmP+nJtA8zm3TT5yTXA9NXqA0kE5JxzWwZ7iGi5wV+hqRU9wA+NU3eVOAbA==" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="LegionDownloadURL" value="" />

    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_S3_BucketName" value="trismart-ignite-staging-blobs" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_DynamoDB_TableName" value="Ignite_Staging_ProposalsData_Aggregate" />

    <!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_S3_BucketName" value="legion-stage-blobs" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_DynamoDB_TableName" value="Legion_Stage_ProposalsData_Aggregate" />-->
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="MailChimp.Lists.LegionUsers" value=""/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.Environment" value="Stage"/>
  </appSettings>
  <system.net>
    <defaultProxy xdt:Transform="Remove"/>
  </system.net>
</configuration>