<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataReef.Integrations.Agemni.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Off,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\logs\web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="c:\logs\web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <DataReef.Integrations.Agemni.Properties.Settings>
      <setting name="DataReef_Integrations_Agemni_com_agemni_www_Service1" serializeAs="String">
        <value>https://www.agemni.com/AgemniWebservices/service1.asmx</value>
      </setting>
    </DataReef.Integrations.Agemni.Properties.Settings>
  </applicationSettings>
  <appSettings file="external_api.config">
    <add key="DataReef.TM.Contracts.Services.BaseAddress" value="http://local.services.tm.net/" />
    <add key="DataReef.Sync.Contracts.BaseAddress" value="http://qa-smartcare-sync.cloudapp.net/" />
    <add key="DataReef.Environment" value="Dev" />
    <add key="LoggingConnectionStringName" value="Dev" />
    <add key="TokenIssuerUri" value="http://datareef-api.azurewebsites.net" />
    <add key="DataReef.TM.CustomURL" value="trismart-ignite-dev://" />
    <add key="NetSuiteUrl" value="https://apisunedison.cloudhub.io" />
    <add key="MosaicUrl" value="https://sunedapi.cloudhub.io" />
    <add key="AgemniCompanyName" value="inhomecommunications" />
    <add key="DirecTVStoreName" value="IN HOME COMMUNICATIONS INC," />
    <add key="DirecTVStoreNumber" value="33410" />
    <add key="SendGrid-Server" value="email-smtp.us-west-2.amazonaws.com" />
    <add key="RerouteRecipientForTesting" value="false" />
    <add key="RerouteAddress" value="" />
    <add key="AddEmailsToCC" value="false" />
    <add key="EmailsToCC" value="" />
    <add key="DTV-SalesOrder-EMail-Subject" value="Welcome to the Direct TV Family" />
    <add key="DTV-SalesOrder-EMail-Sender-EMail" value="info@clearsattv.com" />
    <add key="DTV-SalesOrder-EMail-Sender-Name" value="Clear Satellite" />
    <add key="GenabilityUrl" value="https://api.genability.com" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AnonymousPrincipal_ClientVersion" value="100.0.0" />
    <add key="DataReef.Integrations.Google.AccountKey_FileName" value="Google.ServiceAccountKey.json" />
    <add key="DataReef.Integrations.Google.SpreadSheetID" value="1v6rEeKPnE8q7oYjxJDTj1e9WGEsqZCd1atYS9awDyu4" />
    <add key="GoogleMaps.LocationServices.Apikey" value="AIzaSyCppQX4sBPgBfJgwuFOvfdEq_lLVZkX3OI" />
    <add key="AllowedRequestOrigins" value="leadsportal.legionapp.co;localhost;local.api.tm.net;" />
    <add key="DataReef.SolarCloud.Url" value="http://workflowapi.datareef.com" />
    <add key="DataReef.LegionAPI.Url" value="http://local.api.tm.net" />
    <add key="Datareef.Leads.MaxAmountOfHomes" value="1000" />
    <!--<add key="DataReef.SolarCloud.Url" value="http://localhost:17378" />-->
    
    <!--Settings ported from the Services host-->
    <add key="ConnectionStringName" value="Stage" />
    <add key="ApplyAuthorizationBehaviour" value="true" />
    <add key="SyncQueue" value="sync" />
    <add key="BlobContainerName" value="territorymanager" />
    <add key="NotificationHub.Connections" value="tm-connections" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://datareef.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=KJDza6NaGLNq+0b+JJCEoEzRZRKXb5Pur3EopQOeOXU=" />
    <add key="StorageAccount.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=livesmartcarestorage;AccountKey=WJAeUmL9DhwgKw/X/ILlUTTbuRXcmP+nJtA8zm3TT5yTXA9NXqA0kE5JxzWwZ7iGi5wV+hqRU9wA+NU3eVOAbA==" />

    <add key="DataReef.Invitations.Accept.NotificationEmail" value="vlad@vlad.creed.ro" />
    <add key="DataReef.TM.API.BaseAddress" value="http://tm-api-dev.datareef.com" />
    <add key="AWS_S3_SourceDocs_BucketName" value="legion-source-documents" />
    <!-- DataReef Settings -->

    <!--
    <add key="AWS_S3_BucketName" value="legion-dev-blobs" />
    <add key="AWS_DynamoDB_TableName" value="Legion_Dev_ProposalsData_Aggregate" />
    -->
    <!--<add key="SenderEmail" value="noreply@datareef.com" />
    <add key="Email.SenderName" value="Legion App" />
    <add key="DataReef.Geo.Url" value="https://tm-geo-live.datareef.com/" />
    <add key="DataReef.LegionAPI.Url" value="http://tm-api-dev.datareef.com" />
    <add key="DataReef.UtilsAPI.Url" value="http://utils.datareef.com" />
    <add key="Proposal.Template.DefaultBaseUrl" value="http://proposals.datareef.com/" />    
    <add key="AWS_S3_BucketName" value="trismart-ignite-dev-blobs" />
    <add key="AWS_DynamoDB_TableName" value="Ignite_Dev_ProposalsData_Aggregate" />-->

    <!--TriSMART Settings-->
    <!--<add key="SenderEmail" value="info@trismartsolar.com" />-->
    <add key="SenderEmail" value="donotreply@smartboardcrm.com" />
    <add key="Email.SenderName" value="Ignite App" />
    <!--<add key="AWS_S3_BucketName" value="trismart-ignite-dev-blobs" />-->
    <add key="AWS_S3_BucketName" value="trismart-ignite-staging-blobs" />
    <!--<add key="AWS_DynamoDB_TableName" value="Ignite_Dev_ProposalsData_Aggregate" />-->
    <!--<add key="AWS_DynamoDB_TableName" value="Ignite_Prod_ProposalsData_Aggregate" />-->
    <add key="AWS_DynamoDB_TableName" value="Ignite_Staging_ProposalsData_Aggregate" />
    <add key="DataReef.Geo.Url" value="http://geo.ignite.trismartsolar.com/" />
    <add key="DataReef.UtilsAPI.Url" value="http://utils.ignite.trismartsolar.com" />
    <add key="Proposal.Template.DefaultBaseUrl" value="http://proposals-staging.ignite.trismartsolar.com/" />

    <add key="Cache_Active" value="false" />
    <add key="Cache_Connection" value="mkkCs2CgdkHwMkbgPCV6rMFcN3k2rKYOzraVVhPs0E8=@tm-cache.redis.cache.windows.net?ssl=true" />
    <add key="BlobStorageProvider" value="AWS" />
    <!-- In minutes -->
    <add key="Cache_DefaultCacheTime" value="30" />
    <add key="BatchPrescreenExpiryMinutes" value="64800" />
    <add key="InstantPrescreenExpiryMinutes" value="64800" />
    <add key="BatchPrescreenTokensPerResult" value="1" />
    <add key="InstantPrescreenTokensPerInquiry" value="3" />
    <add key="LegionDownloadURL" value="http://apps.datareef.com/tm/dev" />
    <add key="SpruceUrl" value="https://ww1.viewtechfinancial.com" />
    <add key="DataReef.SolarCloud.WorkflowID" value="E4DB13B2-ABD0-40E3-8F71-8667BF50C526" />
    <add key="DataReef.Mapful.Url" value="https://api-mapful.avenu.io/" />
    <add key="MailChimp.Lists.LegionUsers" value="" />

    <add key="Microsoft.PowerBI.Url" value="https://api.powerbi.com/" />
    <add key="Microsoft.PowerBI.IsEnabled" value="false" />

    
    <!-- Apple Push Notification Environment -->
    <add key="Apple.PushNotification.Environment" value="Sandbox" />
    <add key="Apple.PushNotification.Certificate.Path" value="~\App_Data\apn_certificate.p12" />
    <add key="DataReef.Features.Proposal.AttachPDF" value="True" />
    <add key="Financing.Providers.SolarSalesTracker.BaseURL" value="http://api.solarsalestracker.com" />
    <add key="Integrations.SMARTBoard.BaseURL" value="https://uat.smartboard.solar" />
    <add key="PropertyAttachmentLargeThumbnailWidth" value="800" />
    <add key="PropertyAttachmentMediumThumbnailWidth" value="640" />
    <add key="PropertyAttachmentSmallThumbnailWidth" value="480" />
    <add key="Integrations.Sunnova.BaseURL" value="https://sunnova.my.salesforce.com" />

    <add key="Sunlight.test.url" value="https://test.connect.boomi.com/ws/rest/v1/pt" />
    <add key="Sunlight.Auth.Username" value="TriSMART@sunlightfinancial-WSHA3Z.N29SCE" />
    <add key="Sunlight.Auth.Password" value="27d1806e-3bdc-4484-bf5c-59f954718cb3" />
    <add key="Sunlight.Username" value="trismart.api.pt@yopmail.com.pt" />
    <add key="Sunlight.Password" value="Welcome123!" />
    <add key="Sunlight.Frame.Url" value="https://waftest.slfportal.com/uiuxPT/#/runcredit?sid={tokenid}{hashid}" />

    
    <add key="Sunlight.Live.url" value="https://connect.boomi.com/ws/rest/v1" />
    <add key="Sunlight.Live.Auth.Username" value="TriSMART@sunlightfinancial-WSHA3Z.Z72XBT" />
    <add key="Sunlight.Live.Auth.Password" value="5954f5f7-cd1a-46c4-b1b9-8426dfd4fc2d" />
    <add key="Sunlight.Live.Username" value="trismart.api@sunlightfinancial.com.slf" />
    <add key="Sunlight.Live.Password" value="Vzbieq9BuZZWnrDezw1I!" />
    <add key="Sunlight.Live.Frame.Url" value="http://slfportal.com/orange/#/runcredit?sid={tokenid}{hashid}" />

    <add key="EsIdUrl" value="http://www.esiids.com/" />
    <add key="EsIdParams" value="/cgi-bin/esiids_xml.cgi?account_number=2606564132%26user_id=hevin.android@gmail.com%26pass_word=hevin123%26address={address}%26zip={zip}" />
  
    <add key="Firebase.ServerKey" value="AAAAjcK0I_g:APA91bE9yx0Ximczoh423GN5fUhOSG5XOYnLxHDJtciBdGcapueC9LhCe0xyMMJwnfY79UrZ83rPXhbQLvW_JOcbbT6xNy_P7U96YKfQXB_U2Zr5Um58Dk0TglI_pvRghEoll5AqfN94" />

  </appSettings> 
  <connectionStrings configSource="ConnectionStrings.config" />
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDtvAutomationService" sendTimeout="00:10:00" receiveTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tm-dtv.datareef.com:8080/DtvAutomationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDtvAutomationService" contract="DirecTVAutomation.IDtvAutomationService" name="BasicHttpBinding_IDtvAutomationService" />
    </client>
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.1" debug="true" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="2147483647" executionTimeout="300" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WindowsAzureEventSource" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="msshrtmi" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsAzureTelemetryEvents" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <!-- ADD THIS -->
    </modules>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework codeConfigurationType="DataReef.TM.DataAccess.Database.EntityFrameworkConfiguration, DataReef.TM.DataAccess">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <include file="${basedir}\bin\logging\nlog.targets.config" />
    <rules>
      <logger name="SmartLogger" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  
  <system.net>
    <defaultProxy enabled="true">
      <proxy usesystemdefault="true" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>
  
</configuration>
