<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.TM.Contracts.Services.BaseAddress" value="http://tm-core-live.datareef.com/"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.LegionAPI.Url" value="https://tm-api-live.datareef.com" />
    -->

    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.TM.Contracts.Services.BaseAddress" value="http://core.ignite.trismartsolar.com/"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.LegionAPI.Url" value="http://api.ignite.trismartsolar.com" />

    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.Sync.Contracts.BaseAddress" value="http://datareef-sync.cloudapp.net/"/>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="SpruceUrl" value="https://www.viewtechfinancial.com" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.Environment" value="Production" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="DataReef.TM.CustomURL" value="trismart-ignite://" />
    <add key="LoggingConnectionStringName" value="Production"
         xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    
    <!--Settings related to services-->
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ConnectionStringName" value="Production" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="StorageAccount.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=livesmartcarestorage;AccountKey=WJAeUmL9DhwgKw/X/ILlUTTbuRXcmP+nJtA8zm3TT5yTXA9NXqA0kE5JxzWwZ7iGi5wV+hqRU9wA+NU3eVOAbA==" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BlobStorage" value="DefaultEndpointsProtocol=https;AccountName=livesmartcarestorage;AccountKey=WJAeUmL9DhwgKw/X/ILlUTTbuRXcmP+nJtA8zm3TT5yTXA9NXqA0kE5JxzWwZ7iGi5wV+hqRU9wA+NU3eVOAbA==" />


    <!--Datareef Settings-->

    <!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.TM.API.BaseAddress" value="http://tm-api-live.datareef.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.LegionAPI.Url" value="https://tm-api-live.datareef.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.Geo.Url" value="https://tm-geo-live.datareef.com/"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Proposal.Template.DefaultBaseUrl" value="https://proposals.datareef.com/" />-->
    <!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_S3_BucketName" value="legion-prod-blobs" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_DynamoDB_TableName" value="Legion_Prod_ProposalsData_Aggregate" />-->
    <!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SendGrid-Server" value="smtp.sendgrid.net" />-->


    <!--<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_S3_BucketName" value="trismart-ignite-prod-blobs" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_DynamoDB_TableName" value="Ignite_Prod_ProposalsData_Aggregate" />-->

    <!--TriSMART Settings-->
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.TM.API.BaseAddress" value="http://api.ignite.trismartsolar.com" />
    
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.Geo.Url" value="http://geo.ignite.trismartsolar.com/"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Proposal.Template.DefaultBaseUrl" value="http://proposals.ignite.trismartsolar.com/" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.UtilsAPI.Url" value="http://utils.ignite.trismartsolar.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_S3_BucketName" value="trismart-ignite-prod-blobs" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AWS_DynamoDB_TableName" value="Ignite_Prod_ProposalsData_Aggregate" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="LegionDownloadURL" value="https://itunes.apple.com/us/app/ignite-by-trismart/id1406816571" />

    
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="MailChimp.Lists.LegionUsers" value="8a724baaad" />
    
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Apple.PushNotification.Environment" value="Production" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.Invitations.Accept.NotificationEmail" value="bwilding@datareef.com" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DataReef.Features.Proposal.AttachPDF" value="True" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="Integrations.SMARTBoard.BaseURL" value="https://app.smartboard.solar" />
  </appSettings>

  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.net>
    <defaultProxy xdt:Transform="Remove"/>
  </system.net>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <rules>
      <logger name="SmartLogger" minlevel="Trace" writeTo="trace" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </rules>
  </nlog>
</configuration>