@model DataReef.TM.Classes.PropertyAttachmentSubmittedTemplate
@{
    Layout = null;
}

<div class="content userInvitation">
    <div class="row">
        Photo attachments were submitted for the property @Model.PropertyName . Address is: @Model.Address
    </div>
</div>