@model DataReef.TM.Classes.PropertyAttachmentSubmittedTemplate
@{
    Layout = null;
}

    <p>
        Photo attachments were submitted for the property @Model.PropertyName . Address is: @Model.Address
    </p>