@model DataReef.TM.Classes.TerritoryAssignmentNotificationTemplate
@{
    Layout = null;
}

<p>

    You have been assigned to the @Model.TerritoryName territory.
</p>
@if (Model.PropertyCount > 0)
{
    <p>This territory has @Model.PropertyCount homes available to contact.This territory is ready to prescreen.</p>
}

@if ((Model.SampleHomeNames != null) && (Model.SampleHomeNames.Length > 0))
{
    <p>
        Included are a few of the homes:
        @foreach (string homeName in Model.SampleHomeNames)
        {
        <p>@homeName</p>
    }
        </p>
    }

<p>
    <span>You can access your new territory in IGNITE for iPad </span>
    @if (!string.IsNullOrWhiteSpace(Model.TerritoryLink))
    {<a href="@Model.TerritoryLink">by clicking on the following link</a>}
    <span>.</span>
</p>
